nav{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    text-align:center;
}
.header-link{
    text-decoration: none;
    font-size:2vw;
}

body{
    display:grid;
    grid-template-rows: 0.7fr 4fr 2fr 0.3fr;
}
.nav-button{
    width: 80%;
    padding-top: 10%;
}
.nav-image{
    width: 60%;
}

.main-top{
    width:100%;
    height:40%;
    background-color:#41644A;
    display:grid;
    grid-template-columns:3fr 2fr;
}

.logo-text{
    width:30%;
    font-size:1.3vw;
    color:antiquewhite;
    padding-left:30%;
    
}
.logo-img{
    width:80%;
}
.form{
    text-align:center;
    padding:10%;
}
.form-ele{
    margin:3%;
}
.form-label{
    font-size:1.5vw;
}
.form-input{
    margin-left:5px;
    width:20%;
    height:2.5vh;
}
.form-text{
    font-size:1.3vw;
}
button{
    width:25%;
    border-radius:3px;
    color:azure;
    background-color:#41644A;
}
footer{
    background-color:#41644A;
    display:grid;
    grid-template-columns: 37.5fr 25fr 37.5fr;
}
.footer-div-left{
    text-align:right;
}
.footer-img{
    width:40%;
    padding-top:20%;
}
.footer-text{
    color:antiquewhite;
    width:60%;
    padding-top:25%;
    margin:0;
    font-size:1.4vw;
}
.links{
    padding-top:7%;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
}
.footer-link{
    text-decoration:none;
    font-size:1.2vw;
}
.copyright{
    background-color:#41644A;
    text-align:center;
    font-size:1.4vw;
}

